body::after {
    content: "";
    background-image: url('../css/images/bazaar-1462047-1279x931.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.30;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#fullPage {
    padding-left: 50px;


}

input,textarea,button {
    font-size: medium;
    background-color: #D0C8A8;
    border-radius: 3px;
    opacity: 1;
    margin-bottom: 15px;
    box-shadow: -4px -4px 8px #808D76, -2px -2px 4px #808D76 inset ;
    margin-right: 10px;
}
button {
    font-size: medium;
    background-color: #D0C8A8;
    border-radius: 15px;
    opacity: 1;
    margin-bottom: 15px;
    box-shadow: 2px 2px 4px #808D76 inset, -2px -2px 4px #808D76 inset ;
    margin-right: 10px;
}
label {
    font-size: large;
    font-weight: bold;
    text-shadow: -5px -5px 7px #808D76;

}
#test {
    border: solid 1px  red;
}
#test2 {
    border: solid 1px blue;
    margin-right: 100px;
}