<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/3853db4215.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/style.css">
  <title>uStuffIt</title>
</head>

<body>
  <header class="inner">
    <h2><a href="/"><i class="fas fa-box-open"></i>
        uStuffIt</a></h2>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/catalogs">All Stuff</a>
        </li>
        <li>
          <a href="/catalogs/add">Add Stuff</a>
        </li>
          <li>
              <a href="/catalogs/search">Search Stuff</a>
          </li>
      </ul>
    </nav>
  </header>
  <div class="container">
  {{{body}}}
  </div>



</body>

</html>