<h1>Welcome to uStuffIt!</h1>
<h2>User Instructions:</h2>

<div class="catalog">
    <h3>About uStuffIt:</h3>
    <div class="aboutText">
        The purpose of uStuffIt is to be a flexible and dynamic way to categorize items of any type, for any reason.
        Do you have a collection of vintage typewriters you've been meaning to categorize and keep track of? Then uStuffIt is your solution!
        Utilizing a flexible form to enter all the details associated with whatever "thing" you're interested in keeping track of allows
        uStuffIt to store your items with all the information required to build a useful list according to <strong>your</strong> needs.
    </div>
</div>

<div class="catalog">
    <h3>Basic Searching for Your Items:</h3>
    <div class="aboutText">

    </div>
</div>

<div class="catalog">
    <h3>How to View Your Items:</h3>
    <div class="aboutText">

    </div>
</div>

<div class="catalog">
    <h3>How to Add New Items:</h3>
    <div class="aboutText">

    </div>
</div>

<div class="catalog">
    <h3>How to Edit Items:</h3>
    <div class="aboutText">

    </div>
</div>

<div class="catalog">
    <h3>How to Delete Items:</h3>
    <div class="aboutText">

    </div>
</div>

<div class="catalog">
    <h3>Advanced Searching for Your Items:</h3>
    <div class="aboutText">
        
    </div>
</div>

