<h1 style="text-align:center;">Welcome to uStuffIt!</h1>

<div class="catalog">
<<<<<<< HEAD
    <h2>So you have a stuff-problem:</h2>
    <p>You have too many things. So many that they create headaches for you. 
        Not a week goes by without you needing to find something, 
        and you can't remember where it is. So you spend an hour pulling
        boxes out of closets, or diving into piles on shelves in the garage.
        Voices are raised. Things are strewn all over the floor. 
        You are getting angry. Your wife contemplates the question of why she 
        married you.</p>
    <p>In the end, you give up, having failed to find whatever it was.
        A week later you accidentally find it when you go to the storage closet
        for some toilet paper.
    </p>
=======
    <h3>So you have a stuff-problem:</h3>
    <div class="aboutText">
        <p>You have too many things...so many that they create headaches for you. 
            Not a week goes by without you needing to find something, 
            and you can't remember where it is. So you spend an hour pulling 
            boxes out of closets or diving into the piles of stuff on shelves in the garage. 
            You are getting angry. Your wife contemplates the question of why she 
            married you.</p>
        <p>In the end you give up, having failed to find whatever it was you were looking for. 
            A week later you accidentally find it when you go to the storage closet for some toilet paper.</p>
    </div>
>>>>>>> 9987b4fadaa4a773ab90c8ff2558e79e5e1d8285
</div>


<div class="catalog">
    <h3>How this app was conceived</h3>
    <div class="aboutText">
        <p>
            One of us recently had to go home to his parents, to help them move out 
            of the house they had lived in for fifty years. The move was voluntary:
            they were in pretty good health, all told, and both were available to help
            make it happen.

            There was only one problem: they were hoarders. Well, not hoarders exactly,
            but rather, <i>systematic hoarders</i>, i.e. collectors. You see, they had many things they cared deeply about:
            my mother's china collection, my dad's bug collection, over a thousand books, 
            countless pictures, bits of furniture, old tools, etc. 
        </p>
        <p>Maybe you know somebody like that. <i>Maybe you are somebody like that.</i></p>
        <p>
            But when we started going through rooms and closets, systematically looking in
            to every box and every drawer, I discovered they only had a vague idea what they had
            in their possession. They had it so long that they had forgotten a good portion of 
            it. What was each item? Where did it come from? What was its history? Most importantly,
            what were they going to keep? And what were they going to give away or sell? And to whom?
        </p>
    </div>
    <h3>Every one of their things seemed to be valuable in some way.</h3>
</div>

<div class="catalog">
    <h3>My initial approach was to start handwritten lists.</h3>
    <div class="aboutText">
        <p>In the end, there were 15 3x5 cards with writing on both sides, and then long legal pad pages of handwritten lists. We eventually got everything dealt with but it took 12 weeks, and we were fighting the problem of the lists the whole time.</p>
    </div>
        <h3>This could have been a lot easier if we had a digital catalog of everything that was important.</h3>
    <div class="aboutText">
        <p>My first impulse was to search online for apps. And they do exist: Sortly is probably the most popular personal-inventory app currently. 
            And CatalogIt is an app that focuses more on serious collectors. And their giant collections. But they suffer from a few drawbacks: They're all prettyexpensive, and also very complex.
        </p>
    </div>
    <h3>What if we could make a simpler app, which could be used for either of these things? </h3>
    <p>Thus was borne <i>uStuffIt</i>, the inventory app for people who want to get serious about their stuff, 
    without paying serious money.</p>

</div>

<div class="catalog">
    <h3>So this is your problem: <span style="margin-left:20px">too many things. So many that they create headaches for you.</span></h3>
    <div class="aboutText">
        Use uStuffIt to take care of the things that are important to you. uStuffIt provides a tool for creating a personal inventory of any things that you care about enough that you want to...
        <ul>
            <li>...remember what a thing is, where it came from, what it is for;</li>
            <li>...know what things are in a particular location without having to physically move things around;</li>
            <li>...be able to fnd the location of things from any device (laptop, tablet, smartphone);</li>
            <li>...offer easy ways of seeing what you have at a glance;</li>
            <li>...be able to know basic facts about your things: 
                <ul>
                    <li>how much they are worth</li>
                    <li>their condition</li>
                    <li>their size</li>
                    <li>who they belong to</li>
                </ul>
            </li>
            
        </ul>
    </div>
</div>

<!--<div class="catalog">
    <p>copyright, trademark, credits, version information, license, contact info</p>
</div>-->
