<div class="catalog">
    <h2 class="redNone">Errors Encountered!</h3>
    <h3 class="redNone">Unable to Save to Database</h2>
    <ol style="list-style: none;">
        {{#if errorMsgs.0.error}}
        <li>{{errorMsgs.0.error}}</li>
        {{/if}}
    </ol>
    <br>
    <a href="/catalogs/add" class="btn btn-reverse">Back</a>
    <br>
    <br>
</div>