<h2>How To Get Control of Your Stuff:</h2>

<div class="catalog">
    <h3>So you have a stuff-problem: <span style="margin-left:20px">too many things. So many that they create headaches for you.</span></h3>
    <div class="aboutText">
        Use uStuffIt to take care of the things that are important to you. uStuffIt provides a tool for creating a personal inventory of any things that you care about enough that you want to...
        <ul>
            <li>...remember what a thing is, where it came from, what it is for;</li>
            <li>...know what things are in a particular location without having to physically move things around;</li>
            <li>...be able to fnd the location of things from any device (laptop, tablet, smartphone);</li>
            <li>...be able to know basic facts about your things: </li>
                <ul>
                    <li>how much they are worth</li>
                    <li>their condition</li>
                    <li>their size</li>
                    <li>who they belong to</li>
                </ul>
            <li>...offer easy ways of seeing what you have at a glance</li>
        </ul>
    </div>
</div>

<div class="catalog">
    <h3>Before You Begin:</h3>
    <div class="aboutText">
        <p>Ask yourself a question: What is important enough for me to want to keep track of?</p>
        <p>Is it a collection of some kind? </p>
        <p>Is it all the stuff that belongs to your mother?</p> 
        <p>Is it the things in your house that you would miss if they were lost in a fire?</p>
        <p>Is it a group of things that you can never find when you need them?</p>
        <p>Good. Once you have a firm idea of what things you want to create records for (and, by exclusion, those things that you don't) you are ready to begin. Next, go find one of those things. It is best if you have the thing physically where you can see and interact with it (pick it up, take a picture, inspect it, etc). You are ready for the next step.</p>
    </div>
</div>

<div class="catalog">
    <h3>How to Add New Items:</h3>
    <div class="aboutText">
        <p>
            To begin, you can find all of your basic functions on the nav bar at the top of the main window. 
            Start by clicking on "Add Thing" and then complete as many of the fields as you can, using 
            whatever words you feel describe various aspects of the thing that you have in front of you.
            The only required field is what you call the thing, which we refer to here as its "label". 
            If you leave blank fields, you can come back to the item later and enter more information as you get it.

            Click the Add Thing button at the bottom and your record is created!
        </p>

    </div>
</div>

<div class="catalog">
    <h3>Basic Searching for Your Items:</h3>
    <p>There are three ways to find stuff: 
        <ul>
            <li>--on the Home page there is a search box that will look in every field for whatever text you enter there.</li>
            <li>--on the Find Thing page you can search using any combination of existing fields. Search for things labelled "ceramic" 
                in the location of "basement", and it will return all the ceramic things in the basement, but not those in the attic.</li>
            <li>--On the All Things page you will find a list of all the things in your records.</li>
        </ul>
    </p>
    <div class="aboutText">

    </div>
</div>

<div class="catalog">
    <h3>How to View Your Items:</h3>
    <div class="aboutText">
        <p>In the items view there are three buttons at the top: Cards, List, and Thumbs.
            Click these to switch between different lists of your items. </p>
    </div>
</div>



<div class="catalog">
    <h3>How to Edit Items:</h3>
    <div class="aboutText">
        <p>Each record listing has an "Edit" button, which you can press to go to the screen 
            that let's you add new information or modify existing information.
        </p>
    </div>
</div>

<div class="catalog">
    <h3>How to Delete Items:</h3>
    <div class="aboutText">

    </div>
</div>

