<h2>How To Get Control of Your Stuff:</h2>

<div class="catalog">
    <h3>Before You Begin:</h3>
    <div class="aboutText">
        <p>Ask yourself a question: What is important enough for me to want to keep track of?</p>
        <p>Is it a collection of some kind? </p>
        <p>Is it all the stuff that belongs to your mother?</p> 
        <p>Is it the things in your house that you would miss if they were lost in a fire?</p>
        <p>Is it a group of things that you can never find when you need them?</p>
        <p>Good. Once you have a firm idea of what things you want to create records for (and, by exclusion, those things that you don't) you are ready to begin. Next, go find one of those things. It is best if you have the thing physically where you can see and interact with it (pick it up, take a picture, inspect it, etc). You are ready for the next step.</p>
    </div>
</div>

<div class="catalog">
    <h3>Add A New Item:</h3>
    <div class="aboutText">
        <p>
            All of the basic functions are on the row at the top of the main window. 
            Start by clicking on "Add Thing" and then complete as many of the fields as you can, using 
            whatever words you feel describe various aspects of the thing that you have in front of you.
            The only required field is what you call the thing, which we refer to here as its <i>label. </i>
            If you leave any other field blank, you can come back to the item later and enter more information 
            whenever you want to.

            Click the [Add Thing] button at the bottom and your record is created!
        </p>

    </div>
</div>

<div class="catalog">
    <h3>Basic Searching for Your Items:</h3>
    <p>There are three ways to find stuff: 
        <ul>
            <li>--on the [Home] page there is a search box that will look in every field for whatever text you enter there.</li>
            <li>--on the [Find Thing] page you can search using any combination of existing fields. Search for things labelled "ceramic" 
                in the location of "basement", and it will return all the ceramic things in the basement, but not those in the attic.</li>
            <li>--On the [All Things] page you will find a list of all the things in your records.</li>
        </ul>
    </p>
    <div class="aboutText">

    </div>
</div>

<div class="catalog">
    <h3>How to View Your Items:</h3>
    <div class="aboutText">
        <p>In the items view there are three buttons at the top: [Cards], [List], and [Thumbs].
            Click these to switch between different list views of your items. </p>
    </div>
</div>

<div class="catalog">
    <h3>How to Edit Items:</h3>
    <div class="aboutText">
        <p>Each record listing has an [Edit] button, which you can press to go to the screen 
            that let's you add new information or modify existing information. It works pretty
            much the same as the Add Thing page, but here whatever information you had previously 
            entered for it is filled in already. Add your new information (or correct old information)
            click on [Update Thing] and your new information is in the catalog.
        </p>
    </div>
</div>

<div class="catalog">
    <h3>How to Delete Items:</h3>
    <div class="aboutText">

    </div>
</div>

