<h2>How To Get Control of Your Stuff:</h2>

{{!-- <div class="catalog">

    <h3>So you have a stuff-problem, huh? Too many things? So many that they create headaches for you, I imagine?</h3>
    <div class="aboutText">
        <p>Use uStuffIt to categorize and track the things that are important to you! uStuffIt provides an easy and dynamic way to create a personal inventory of important items.</p>
    </div>
    <h4>So what can it do?</h4>
    <div class="aboutText">
        <p>  1. Document what a thing is, where it came from, and what it's for.</p>
        <p>  2. Document what physical location a thing is in.</p>
        <p>  3. Document other important information about your thing including worth, condition, size, and ownership.</p><br>
        <p>Plus, you can access uStuffIt via smart phone, tablet, or browser...and it's totally free.</p>
    </div>
    <h4> The bottom line? uStuffIt is free, flexible, and can track the things you care about.</h4>    
</div> --}}

{{!-- <div class="catalog">

    <h3>Before You Begin:</h3>
    <h4>Ask yourself a question...what is important enough for me to want to keep track of?</h4>
    <div class="aboutText">
        <p>Is it a collection of some kind?</p>
        <p>Is it all the stuff that belongs to your mother?</p>
        <p>Is it the things in your house that you would miss if they were lost in a fire?</p>
        <p>Is it a group of things that you can never find when you need them?</p>
        <p><strong>Good.</strong> Once you have a firm idea of what things you want to create records for (and, by exclusion, those things that you don't) you are ready to begin. Next, go find one of those things. It is best if you have the thing physically where you can see and interact with it (pick it up, take a picture, inspect it, etc). You are now ready for the next step.</p>
    </div>
</div> --}}

{{!-- <div class="catalog">
    <h3>Add A New Item:</h3>
    <div class="aboutText">

            To begin, you can find all of your basic functions on the navigation bar at the top of the main window. 
            Start by clicking on <strong>Add Thing</strong> and then complete as many of the fields as you can, using 
            whatever words you feel describe various aspects of the thing that you have in front of you.
            The only <strong>required field</strong> is what you decide to call the thing, which we refer to here as its "label". 
            If you leave blank fields, you can come back to the item later and enter more information as you get it!


            Click the <strong>Add Thing</strong> button at the bottom and your record is created!
    </div>
</div> --}}

<div class="catalog">
    <h3>Add A New Item:</h3>
    <div class="aboutText">
        1. Click <strong>Add Thing</strong> in the navigation bar and fill out the form. The only required field is the label.
        2. Click the <strong>Add Thing</strong> button to save your thing to the database.
    </div>
</div>

<div class="catalog">
    <h3>Basic Searching for Your Items:</h3>

    <h4>There are three ways to find stuff:</h4>

    <div class="aboutText">
        <p>  1. On the <strong>Home</strong> page there is a search box that will look for a thing containing the search term you entered.</p>
        <p>  2. On the <strong>Find Thing</strong> page you can search using any combination of existing fields.
        <p>  <strong>Example:</strong> entering "Bob, Ted" in the person field and "Typewriter" in the label field will return all typewriters belonging to Bob OR Ted.</p>
        <p>  3. On the <strong>All Things</strong> page you will find a list of all the things in your records.</p>
    </div>
</div>

<div class="catalog">
    <h3>How to View Your Items:</h3>
    <div class="aboutText">

        <p>In the <strong>All Things</strong> view there are three buttons at the top: Cards, List, and Thumbs. Click these to switch between different lists of your items. </p>
    </div>
</div>


<div class="catalog">
    <h3>How to Edit Items:</h3>
    <div class="aboutText">
        <p>Each listed item has an <strong>Edit</strong> button. Simply press this button to go to the screen that lets you add new information or modify existing information.</p>

    </div>
</div>

<div class="catalog">
    <h3>How to Delete Items:</h3>
    <div class="aboutText">
        <p>Each listed item has an <strong>Delete</strong> button. Simply press this button to delete your item. And worry not! You will be asked to confirm this decision to prevent accidental deletion.</p>
    </div>
</div>