 <section id="add" class="container">
    <div class="form-wrap">
      <h1>Find Things</h1>
      <p>Use any field by entering a search string.</p>
      {{#each errors}}
        <div class="error">
          <p>Can't search unless you enter a searchable word.</p>
        </div>
      {{/each}}
      <form class="inputForm" action="/catalogs/smartSearch" method="GET">
        <div class="input-group" style="margin-bottom:50px">
          <label for="thing_label">Label</label>
          <input type="search" name="thing_label" id="thing_label" class="input-box" placeholder="Enter a word that was used to label the thing you are looking for"
            maxlength="100" value={{thing_label}}>
          <input type="search_label" value="Find by Label" class="btn btn-reverse" style="max-width:300px;">
        </div>
      </form>
    </div>
  </section>